.signUpBtn {
  cursor: url('/touchCursor2.png'), pointer;

  transition: filter 0.3s ease;

  .authBtn {
    background-color: transparent;
    border: none;
    cursor: url(/touchCursor2.png), pointer;
  }
}
