.signUpBtn {
  background-image: url(../../../../public/loginHome.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 160px;
  max-height: 180px;
  width: 100%;
  height: 100%;
  // height: 70px;
  position: relative;
  margin-left: auto;
  z-index: 2;
  cursor: url('/touchCursor2.png'), pointer;

  .authBtn {
    color: #fff;
    background-color: transparent;
    position: absolute;
    top: 19px;
    right: 10px;
    border: none;
    cursor: url('/touchCursor2.png'), pointer;
  }
}
