.galleryImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;

  img {
    width: 50px;
    border-radius: 8px;
    rotate: 130deg;
  }
}

.auth__wrapper {
  position: relative;
  // min-height: 20px;
  // top: 0;
  // left: 0;
  //   z-index: 10;
  //   max-width: 130px;
  // max-height: 130px;
  // width: 100vw;
  // height: 100%;
}
