.galleryImage {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;

  img {
    width: 50px;
    border-radius: 8px;
    rotate: 130deg;
  }
}

.auth__wrapper {
  position: relative;
  // min-height: 20px;
  // top: 0;
  // left: 0;
  //   z-index: 10;
  //   max-width: 130px;
  // max-height: 130px;
  // width: 100vw;
  // height: 100%;
}

.galleryWrapper {
  max-width: 100%;
  padding-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media screen and (max-width: 1600px) {
    align-items: flex-start;
  }

  @media screen and (max-width: 768px) {
    padding-top: 80px;
  }
}

.chatBot {
  // z-index: 10;
  // position: fixed;
  // left: 10%;
  // top: 10%;
  max-width: 900px;
  width: 100%;

  // @media (max-width: 1580px) {
  //   max-width: 30%;
  //   // margin-left: 120px;
  // }

  // @media (max-width: 1080px) {
  //   max-width: 440px;
  //   margin-left: 120px;
  // }

  // @media (max-width: 800px) {
  //   margin-left: 0;
  // }

  // @media (max-width: 540px) {
  //   max-width: 340px;
  //   max-height: 300px;
  // }
}
