.catDetails {
  max-width: 600px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 30px;
  text-align: center;
  background: #f9f9f9cf;
  color: #00000073;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
  // overflow: scroll;
  overflow: auto;
  height: 95%;
  position: relative;

  @media (max-width: 900px) {
    margin: 45px 0;
  }
}

.catImage {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.catName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.catInfo {
  text-align: left;
  font-size: 14px;
  width: 100%;
}

.infoGrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  width: 100%;
}

.label {
  font-weight: bold;
  text-align: right;
  font-size: 16px;
  color: #000;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
  border-right: 0.3px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.value {
  text-align: left;
  font-size: 16px;
  color: #000;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.wikipediaLink {
  grid-column: 1 / -1;
  text-align: left;
  font-size: 16px;
  margin-top: 5px;
  padding: 5px;
}

.wikipediaLink a {
  // color: rgb(146, 88, 88);
  color: #9977f1ff;
  text-decoration: none;
  font-weight: bold;
  cursor: url('/touchCursor2.png'), pointer;
}

.wikipediaLink a:hover {
  text-decoration: underline;
}

.infoGrid .label:nth-last-child(2) {
  border-bottom: none;
}
