.home__page {
  position: relative;
  .authWrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    max-width: 160px;
    max-height: 180px;
    width: 100%;
    height: 100%;
    // width: 95px;
    // height: 70px;
  }
}
