.home__page {
  position: relative;
}

.logo {
  position: absolute;
  z-index: 30;
  // filter: grayscale(100%) brightness(1.6);
  transition: filter 0.3s ease;

  max-width: 130px;
  width: 100%;
  margin: 10px;
  @media screen and (max-width: 1080px) {
    max-width: 100px;
  }

  @media screen and (max-width: 900px) {
    max-width: 100px;
  }

  @media screen and (max-width: 768px) {
    max-width: 70px;
    margin-left: 5px;
  }
}
