.galleryimg {
  max-width: 130px;
  width: 100%;
  filter: none;
  transition: filter 0.3s ease;

  @media screen and (max-width: 1200px) {
    max-width: 100px;
  }

  @media screen and (max-width: 900px) {
    max-width: 100px;
  }

  @media screen and (max-width: 768px) {
    max-width: 70px;
  }
}

.homeimg {
  max-width: 130px;
  width: 100%;

  @media screen and (max-width: 1080px) {
    max-width: 100px;
  }

  @media screen and (max-width: 900px) {
    max-width: 100px;
  }

  @media screen and (max-width: 768px) {
    max-width: 70px;
    // margin-right: 0;
  }

  // @media screen and (max-width: 520px) {
  //   margin-top: 15px;
  // }
}
