.cat-name {
  color: #fff;
}

.cat-img {
  max-width: 600px;
}

.cat-description {
  color: #fff;
}

.button-favourite {
  width: 240px;
  height: 80px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
