.gallery__section {
  height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  // background-image: url('https://nek.netlify.app/assets/images/night_rocks_ocean.jpg');

  background-image: url('../../../../public/deniz-uzuner-0ZffcNJ7jP0-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: 270%;
  // background-position: 50% 100%;
  background-position: 50% 70%;
  border: white 20px solid;
  margin: 0 auto;
  position: relative;

  @media (max-width: 900px) {
    background-image: url('../../../../public/bg.jpg');
  }

  img {
    position: absolute;
    border-radius: 1rem;
    will-change: transform, opacity;
  }

  .one {
    border-radius: 1rem;
    bottom: -6vh;
    right: 8rem;
    width: 49vw;

    @media (max-width: 2600px) and (max-height: 1700px) {
      bottom: -10vh;
    }
    @media (max-width: 1800px) and (max-height: 1000px) {
      bottom: -9dvh;
      right: 3rem;
    }
    @media (max-width: 1800px) and (max-height: 600px) {
      bottom: -18dvh;
      right: 3rem;
    }

    @media (max-width: 900px) {
      left: 0vw;
      bottom: -2dvh;
    }
  }

  .two {
    left: -1vw;
    width: 40vw;

    @media (max-width: 900px) {
      top: -4vh;
    }
  }

  .three {
    right: 0vw;
    width: 42vw;
    top: 0rem;

    @media (max-width: 1800px) and (max-height: 1000px) {
      right: 0vw;
      top: -3rem;
    }

    @media (max-width: 900px) {
      top: 26rem;
      width: 70vw;
      right: -11vw;
    }

    @media (max-width: 520px) {
      top: 22rem;
      width: 63vw;
    }
  }

  .galleryHeader {
    color: white;
    font-size: 20vw;
    text-align: center;
    opacity: 0.1;
    position: relative;
    z-index: 5;
  }

  @media screen and (max-width: 768px) {
    border: white 10px solid;

    .two {
      left: -6vw;
      width: 60vw;
    }

    .one {
      width: 70vw;
      right: -1rem;
      z-index: 3;
    }

    .galleryHeader {
      font-size: 19vw;
    }
  }

  @media screen and (max-width: 520px) {
    background-size: 200% !important;
    background-position: 70% !important;

    .galleryHeader {
      font-size: 18vw;
      opacity: 0.9;
    }
  }
}
